@import "open-props/style";
@import "open-props/normalize";
@import "https://unpkg.com/open-props";
@import "https://unpkg.com/open-props/normalize.min.css";

:root {

  --ff-accent: Oxanium, Verdana, sans-serif;
}

*, *:before, *:after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

html:focus-within {
  scroll-behavior: smooth;
}

html {
  scroll-behavior: smooth;
}

body,
button,
input {
  font-family: var(--font-sans);
}

body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  /*For animation dark mode*/
  transition: 0.4s;
}

h1,
h2,
h3,
h4 {
  color: var(--title-color);
  font-weight: var(--font-medium);
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

ul {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

a {
  text-decoration: none;
}

img,
picture,
svg {
  width: 100%;
  height: 100%;
  max-width: 100%;
  display: block;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* Whatsapp Button */
a i.fa-whatsapp,
.whatsap-us {
  position: fixed;
  bottom: 3rem;
  right: 2rem;
  z-index: var(--layer-important);
  background-color: var(--green-8);
  padding: 0.5rem;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* font-weight: 700; */
  font-size: 1.8rem;
  color: var(--gray-1);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.411);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

a i.fa-whatsapp:hover {
  background-color: var(--green-9);
  box-shadow: var(--shadow-2);
}

.whatsap-us {
  color: var(--gray-3);
  font-family: var(--ff-accent);
  background: none;
  box-shadow: none;
  font-size: 0.8rem;
  bottom: -0.2rem;
  font-weight: 600;
}

/* Navigation Menu */

.logo a{
  display: flex;
  /* grid-template-columns: 1fr 1fr; */
  align-items: center;
  justify-content: center;
  /* background-color: var(--grape-9); */
  text-transform: uppercase;
  font-size: var(--size-2);
}

.logo a:hover {
  background: none;
}

.logo img {
  width: var(--size-8);
  height: var(--size-8);
  background: transparent;
  margin-right: 1em;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  width: 100%;
  border-bottom: var(--border-size-2) solid var(--blue-9);
  background-color: var(--gray-3);
  z-index: 999;
  transition: 0.4s;
}

.navbar a {
  color: var(--blue-9);
  font-weight: var(--font-weight-5);
  font-size: var(--size-fluid-2);
  cursor: pointer;
}

.navbar ul li a:hover {
  background-color: var(--blue-9);
  color: var(--gray-2);
}

.navbar .logo a:hover {
  background-color: none;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  overflow: hidden;
}

.nav-menu .nav-list {
  margin: 0 0.5em;
  padding: 1em;
}

.nav-menu .nav-list a.nav-link {
  padding: 0.5em 1em;;
}

.hamburger {
  display: none;
  cursor: pointer;
  color: var(--blue-9);
  font-size: var(--size-fluid-3);
}

#apply-btn {
  border: var(--border-size-2) solid var(--blue-9);
  border-radius: var(--radius-conditional-3);
}

/* Hero Header */

.hero-title {
  color: var(--gray-2);
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-content: center;
  place-items: center;
  padding: var(--size-5);
  background-image: var(--gradient-1);
  font-family: var(--ff-accent);
}

.hero-title h1 {
  font-family: var(--ff-accent);
  font-size: var(--size-fluid-5);
  font-weight: var(--font-weight-7);
  text-align: center;
  margin: 0 1em;
}

.hero-title h2 {
  font-family: var(--ff-accent);
  font-size: var(--size-8);
  font-weight: var(--font-weight-6);
  text-align: center;
  margin: 0.5em;
}

.hero-title h2::after {
  content: "Strategies";
  margin-left: 1.5rem;
  animation-name: textReplaceAnime;
  animation-duration: 15s;
  animation-iteration-count: infinite;
}

.hero-title button {
  display: block;
  margin: 0 auto;
  background-color: var(--blue-8);
  font-size: var(--size-fluid-2);
  font-weight: var(--font-weight-5);
  border: none;
  border-radius: var(--radius-conditional-3);
  padding: 0.5em 1em;
  width: var(--size-fluid-9);
  cursor: pointer;
  transition: 0.4s;
  box-shadow: var(--shadow-2);
}

.hero-title button:hover {
  background-color: var(--blue-9);
  box-shadow: var(--shadow-1);
}

.hero-title .events-img {
  width: var(--size-fluid-8);
  height: var(--size-fluid-8);
}

main {
  padding-top: 6.5em;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contents {
  width: 100%;
  margin: 0.5em 1em;
  scroll-behavior: smooth;
  pointer-events: none;
  max-width: 75rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: var(--shadow-3);
  padding: 1em;
  margin-top: 2em;
  margin-bottom: 2em;
}

.content-header {
  font-size: var(--size-fluid-4);
  font-weight: var(--font-weight-6);
  text-align: center;
  text-transform: uppercase;
  padding: 0 1em;
  margin-bottom: .5em;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: var(--size-fluid-2);
}

.content article {
  font-size: var(--size-4);
  font-weight: var(--font-weight-4);
  margin-left: var(--size-3);
  line-height: var(--font-lineheight-4);
  display: flex;
  justify-content: center;
  align-items: center;
}

.content img {
  max-width: var(--size-14);
  max-height: var(--size-14);
  margin-right: var(--size-4);
}


.contents .gallery-imgs {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-content: center;
  place-items: center;
  padding: 1em;
  margin-bottom: 1em;
  width: 100%;
}

.contents .gallery-imgs img {
  width: var(--size-fluid-9);
  height: var(--size-fluid-9);
  margin: 0.5em;
  background-color: var(--grape-7);
  border-radius: var(--radius-conditional-3);
  box-shadow: var(--shadow-2);
}

/* Apply Form */
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: var(--size-fluid-3);
  /* background-color: var(--gray-1); */
  padding: var(--size-fluid-4);
  border-radius: var(--radius-3);
  box-shadow: var(--shadow-3);
}

.form-group label {
  display: flex;
  justify-content: flex-start;
  font-size: var(--font-size-4);
  margin: 0.5em;
  color: var(--blue-9);
}

.form-group input {
  padding: var(--size-2);
  width: var(--size-10);
  cursor: text;
}

.form-group input:focus {
  outline: 2px solid var(--blue-9);
  border: none;
}

.form-group button {
  font-size: var(--size-4);
  margin: var(--size-3);
  width: var(--size-fluid-8);
  padding: var(--size-2);
  border: none;
  border-radius: var(--radius-conditional-3);
  background-color: var(--blue-9);
  color: var(--gray-2);
  font-weight: var(--font-weight-5);
  cursor: pointer;
  transition: 0.4s;
}

/* ABout Us */
.about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* max-width: 62.5rem; */
  margin: 2em;
  box-shadow: var(--shadow-3);
  padding: 1em .5em;
}

.about-container h1 {
  font-weight: 600;
  text-transform: uppercase;
  /* margin: 1em 0; */
}

.about-content article {
  margin: 1em auto;
  display: block;
}

.about-content article,
.team-container p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: var(--font-lineheight-4);
  font-size: var(--size-5);
}

.about-content article + article,
.team-container p {
  margin-top: var(--size-fluid-4);
}

.our-team {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* max-width: 62.5rem; */
  margin: 1em;
}

.our-team h1 {
  font-weight: 600;
  text-transform: uppercase;
  margin: 1em 0;
}

.team-member {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: var(--shadow-3);
  padding: 1em;
  margin-top: 1em;
}

.team-member .profile h2 {
  font-weight: var(--font-weight-6);
}

.team-member .profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 1.5em;
}

.team-member img {
  box-shadow: var(--shadow-3);
  border-radius: 50%;
  width: var(--size-14);
  height: var(--size-14);
}

.team-member p {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 2em;
}

.info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-content: center;
  place-items: center;
  padding: 1em;
  margin-bottom: 1em;
  width: 100%;
}


.form-message .form-content {
  box-shadow: var(--shadow-2);
  padding: var(--size-fluid-4);
}

.form-message button {
  font-size: var(--size-4);
  margin: var(--size-3);
  width: var(--size-fluid-8);
  padding: var(--size-2);
  border: none;
  border-radius: var(--radius-conditional-3);
  background-color: var(--blue-9);
  color: var(--gray-2);
  font-weight: var(--font-weight-5);
  cursor: pointer;
  transition: 0.4s;
  display: block;
  margin: 0 auto;
  margin-top: 1em;
}

.form-message button:hover {
  background-color: var(--blue-8);
  box-shadow: var(--shadow-1);
}

.form-message h2,
.info .address h2 {
  font-weight: 600;
  text-transform: uppercase;
  margin: 1em 0;
}

.info .form-message lable {
  font-size: var(--size-fluid-2);
  font-weight: var(--font-weight-5);
  margin: var(--size-fluid-2);
  text-align: center;
}

.info .address h2 {
  margin-top: -3em;
  margin-left: 3.5em;
}

.mapouter {
  box-shadow: var(--shadow-3);
}

@media screen and (max-width: 480px) {

  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }

  .contents .gallery-imgs {
    display: grid;
    grid-template-columns: 1fr;
    place-content: center;
    place-items: center;
    margin-bottom: 1em;
    width: 100%;
    background-color: var(--grape-7);
  }

  .contents .gallery-imgs img {
    width: var(--size-fluid-10);
    height: var(--size-fluid-9);
    margin: 0.5em;
    }

  .content article {
    margin: 0 auto;
    padding: 0;
    font-size: var(--size-fluid-2);
  }

  /* About Media Query */

  .about-container h1, .our-team h1 {
    font-size: var(--size-fluid-3);
  }


  .team-member p {
    margin-top: 1em;
    margin-right: 1.2em;
    font-size: var(--size-fluid-2);
  }

  .info {
    display: block;
    width: var(--size-fluid-10);
    /* margin: 0 auto; */
    overflow: hidden;
  }


  .form-group {
    margin-left: -1em;
    width: var(--size-fluid-9);
  }

  .form-group input, .form-group textarea {
    margin: 0 auto;
    width: var(--size-fluid-9);
  }


  
  .info .address h2 {
    margin: 1em auto;
    margin-left: 3em;
    margin-bottom: 0.5em;
    text-align: center;
    display: block;
  }

  .info .address {
    margin-bottom: var(--size-5);
    /* margin-left: -10em; */
    box-shadow: none;
  }

  .footer h4 {
    font-weight: var(--font-weight-6);
    font-size: var(--size-3);
  }

  .footer a {
    color: var(--blue-9);
    font-size: var(--size-3);
    padding: .5em 0;
  }

  .call-us {
    margin-top: 1em;
  }
}

@media only screen and (max-width: 768px) {
  .navbar {
    padding: 1em;
  }
  .navbar a {
    font-size: var(--size-fluid-3);
  }

  .navbar .logo a:hover {
    background-color: none;
  }  


  .nav-menu {
    position: fixed;
    top: 4rem;
    left: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: var(--gray-3);
    border-bottom: var(--border-size-2) solid var(--blue-9);
    transition: all 0.4s ease-in;
    z-index: 0;
  }


  .nav-menu.active {
    top: 4rem;
    left: 0;
    z-index: 0;
    transform-origin: top;
    transition: 0.4s ease-out;
    margin-bottom: 1em;
  }

  .nav-menu .nav-list {
    margin: .5em 0;
    padding: 0.2em;
    padding-bottom: 1em;
  }
  .nav-link {
    font-size: var(--size-fluid-2);
    margin-left: 0.5em;
  }

  .hamburger {
    display: block;
    --webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }

  .hamburger.active {
    --webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }

  main {
    padding-top: 4em;
    overflow: hidden;
  }

  .hero-title {
    display: flex;
    flex-direction: column-reverse;
    width: 100vw;
    height: 100%;
    overflow: none;
  }
  
  .hero-title h1 {
    position: relative;
    font-size: var(--size-fluid-4);
    font-weight: var(--font-weight-7);
    margin: 0;
    z-index: var(--layer-3);
  }

  .hero-title h2 {
    font-size: var(--size-fluid-3);
    position: relative;
    margin-left: 0;
    text-align: center;
    z-index: var(--layer-3);
  }

  .hero-title button {
    position: relative;
    color: var(--gray-1);
    width: var(--size-header-1);
    margin-top: 4em;
  }

  .hero-title img {
    position: absolute;
    width: var(--size-fluid-8);
    height: var(--size-fluid-8);
    opacity: 0.5;
  }

  .hero-title .events-img {
    position: absolute;
    width: var(--size-fluid-7);
    height: var(--size-fluid-7);
    opacity: 0.5;
  }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin: 1em; */
    /* max-width: none; */
  }

  .content article {
    margin: 0.5em 1.5em;
  }

  .content img {
    width: var(--size-fluid-8);
    height: var(--size-fluid-8);
  }

  .contents .gallery-imgs {
    display: grid;
    place-content: center;
    place-items: center;
    grid-template-columns: 1fr;
    grid-gap: var(--size-fluid-1);
    margin-bottom: var(--size-fluid-1);
    margin-right: none;
    width: 100%;
  }

  .contents .gallery-imgs img {
    width: var(--size-fluid-10);
    height: var(--size-fluid-9);
    margin: 0.5em;
    }

  /* About Media Query */

  .about-content article {
    margin: 1em;
    font-size: var(--size-fluid-2);
  }

  .team-member {
    display: grid;
    place-content: center;
    place-items: center;
    margin: 1em;
  }

  .team-member h2 {
    /* background-color: var(--blue-8);
    padding: .1em .35em; */
    text-align: center;
    font-size: var(--size-fluid-3);
    margin-top: 0.5em;
    margin-left: 1em;
  }

  .team-member p {
    margin-top: 1em;
    font-size: var(--size-fluid-2);
  }

  .team-member img {
    /* margin-top: 1em; */
    margin-left: 1em;
    width: var(--size-13);
    height: var(--size-13);
    box-shadow: var(--shadow-3);
    border-radius: 50%;
  }


  .info {
    display: block;
    width: var(--size-fluid-12);
    overflow: hidden;
  }

  .form-content h2 {
    font-size: var(--size-fluid-3);
    margin: 0 auto;
    margin-bottom: 0.5em;
    text-align: center;
    display: block;
  }


  .form-content input {
    max-width: 100%;
  }

  .form-content .form-group button {
    width: 100%;
  }
  .info .address h2 {
    margin: 1em auto;
    margin-left: 3em;
    margin-bottom: 0.5em;
    text-align: center;
    display: block;
  }

  .info .address {
    margin-bottom: var(--size-5);
    /* margin-left: -10em; */
    box-shadow: none;
  }

  footer h4 {
    font-weight: var(--font-weight-6);
    font-size: var(--size-4);
  }

  footer .footer-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
  }
  
  .call-us {
    margin-top: 1em;
  }
}


/* Media iPads */
@media screen and (width >= 768px) and (width <= 1024px) {
  .navbar {
    padding: 1em;
  }
  .navbar a {
    font-size: var(--size-fluid-3);
  }

  .navbar .logo a:hover {
    background-color: none;
  }  


  .nav-menu {
    position: fixed;
    top: 4rem;
    left: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: var(--gray-3);
    border-bottom: var(--border-size-2) solid var(--blue-9);
    transition: all 0.4s ease-in;
    z-index: 0;
  }


  .nav-menu.active {
    top: 4rem;
    left: 0;
    z-index: 0;
    transform-origin: top;
    transition: 0.4s ease-out;
    margin-bottom: 1em;
  }

  .nav-menu .nav-list {
    margin: .5em 0;
    padding: 0.2em;
    padding-bottom: 1em;
  }
  .nav-link {
    font-size: var(--size-fluid-2);
    margin-left: 0.5em;
  }

  .hamburger {
    display: block;
    --webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }

  .hamburger.active {
    --webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
main {
  padding-top: 4em;
}

.hero-title {
  display: flex;
  /* flex-direction: column; */
  width: 100vw;
  height: 100%;
  overflow: none;
  pointer-events: none;
}

.hero-title h1 {
  position: relative;
  font-size: var(--size-fluid-6);
  font-weight: var(--font-weight-7);
  margin: 0;
  z-index: var(--layer-3);
}

.hero-title h2 {
  font-size: var(--size-fluid-5);
  position: relative;
  margin-left: 0;
  text-align: center;
  z-index: var(--layer-3);
}

.hero-title button {
  position: relative;
  font-size: var(--size-7);
  color: var(--gray-1);
  width: var(--size-fluid-10);
  cursor: pointer;
  pointer-events: all;
}

.hero-title img {
  position: absolute;
  width: var(--size-fluid-9);
  height: var(--size-fluid-9);
  opacity: 0.5;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content article {
  margin: 0.5em 1.5em;
  font-size: var(--size-6);
}

.content img {
  width: var(--size-fluid-9);
  height: var(--size-fluid-9);
}

.contents .gallery-imgs {
  display: grid;
  place-content: center;
  place-items: center;
  grid-template-columns: 1fr 1fr;
  grid-gap: var(--size-fluid-1);
  margin-bottom: var(--size-fluid-1);
  width: 100%;
}

.contents .gallery-imgs img {
  width: var(--size-fluid-10);
  height: var(--size-fluid-9);
  margin: 0.5em;
}
 
/* About Media Query */

.about-container {
  max-width: 70em;
}

.about-container h1, .our-team h1 {
  font-size: var(--size-fluid-5);
}

.about-content article {
  margin: 1em;
  font-size: var(--size-fluid-2);
}

.our-team {
  background-color: var(--grape-7);
}

.team-member {
  display: grid;
  place-content: center;
  place-items: center;
  /* background-color: var(--grape-7); */
}

.team-member h2 {
  text-align: center;
  font-size: var(--size-7);
  margin-top: 0.5em;
  margin-left: 1em;
}

.team-member p {
  margin-top: 1em;
  font-size: var(--size-fluid-2);
  margin-left: 1em;
}

.team-member img {
  /* margin-top: 1em; */
  margin-left: 1em;
  width: var(--size-14);
  height: var(--size-14);
  box-shadow: var(--shadow-3);
  border-radius: 50%;
}

.info {
  display: block;
  width: var(--size-fluid-12);
  overflow: hidden;
  width: 100%;
}


.form-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-content h2 {
  font-size: var(--size-fluid-5);
  margin: 0 auto;
  margin-bottom: 0.5em;
  text-align: center;
  display: block;
}

.form-content button {
  width: var(--size-15);
}

.form-group {
  padding: 0 1em;
}

.form-group label {
  font-size: var(--size-fluid-4);
  font-weight: var(--font-weight-6);
}

.form-group button {
  margin-top: 1em;
  width: var(--size-fluid-10);
  font-size: var(--size-fluid-4);
}

.form-group input {
  font-size: var(--size-fluid-4);
  padding: var(--size-2);
  width: 45rem;
  cursor: text;
}

.form-content label, .form-content textarea, .form-content button {
  font-size: var(--size-fluid-4);
}

.form-content label {
  margin-top: 1em;
  font-weight: var(--font-weight-6);
}

.form-content button {
  margin-top: 1em;
}

.form-content textarea {
  height: 7em;
  width: 45rem;
}
.form-content input, .form-content textarea {
  padding: var(--size-4);
  font-size: var(--size-fluid-4);
}


.info .address h2 {
  margin: 1em auto;
  margin-left: 3em;
  margin-bottom: 0.5em;
  text-align: center;
  display: block;
}

.info .address {
  margin-bottom: var(--size-5);
  /* margin-left: -10em; */
  box-shadow: none;
}

footer h4 {
  font-weight: var(--font-weight-6);
  font-size: var(--size-7);
}

footer a {
  font-size: var(--size-fluid-3);
}

footer .about-us {
  margin-top: 1.5em;
  margin-bottom: 1em;
}

}


.footer {
  background-color: var(--gray-9);
  color: var(--gray-3);
  border-top: var(--border-size-2) solid var(--blue-9);
  display: block;
  width: 100%;
}

footer {
  display: block;
}

footer p {
  text-align: center;
  margin: var(--size-2);
  /* margin-left: 25em; */
  display: grid;
  place-content: center;
  align-items: center;
}

.footer-content {
  display: grid;
  place-items: center;
  place-content: center;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1em;
  padding: 1em;
}

.footer-content img {
  width: var(--size-fluid-6);
  height: var(--size-fluid-6);
}

.socials {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.social-links a {
  display: grid;
  place-items: center;
  place-content: center;
}

.social-links {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-links a i {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--font-size-fluid-1);
  width: var(--size-fluid-4);
  height: var(--size-fluid-4);
  padding: var(--size-5);
  margin: var(--size-2);
  border-radius: 50%;
  background-color: var(--blue-7);
  color: var(--gray-2);
}

.social-links a i:hover {
  background-color: var(--blue-9);
  color: var(--gray-2);
}

/* Animations */
@keyframes textReplaceAnime {
  25% {
    opacity: 1;
  }
  50% {
    opacity: 1;
    content: "Confidence";
  }
  75% {
    opacity: 1;
    content: "Businesses";
  }
}
