@import "open-props/style";
@import "https://unpkg.com/open-props";

/* @import "https://unpkg.com/open-props/normalize.min.css"; */

:root {
  --accent-color: var(--gray-3);
  --accent-bg: var(--gray-8);

  --accent-light: var(--gray-8);
  --accent-light-bg: var(--gray-3);
  --ff-accent: Oxanium, Verdana, sans-serif;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

html:focus-within {
  scroll-behavior: smooth;
}

html {
  scroll-behavior: smooth;
}

body,
button,
input {
  font-family: var(--font-sans);
}

body, html {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  transition: 0.4s;
}

h1,
h2,
h3,
h4 {
  color: var(--title-color);
  font-weight: var(--font-medium);
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

ul {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

a {
  text-decoration: none;
}

a:visited {
  color: var(--blue-9);
}

img,
picture,
svg,
video,
iframe {
  width: 100%;
  height: 100%;
  max-inline-size: 100%;
  block-size: auto;
  aspect-ratio: 2/2;
  object-fit: fill;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
  color: var(--gray-2);
}

input {
  border: none;
  border-radius: var(--radius-conditional-2);
  outline: none;
}

:where(html) {
  color-scheme: light;

  --link: var(--indigo-7);
  --link-visited: var(--grape-7);

  --text-1: var(--gray-9);
  --text-2: var(--gray-7);

  --surface-1: var(--gray-0);
  --surface-2: var(--gray-2);
  --surface-3: var(--gray-3);
  --surface-4: var(--gray-4);

  @media (--HDcolor) {
    @supports (color(display-p3 0 .5 1)) {
      --link: color(display-p3 0 .5 1);
      --link-visited: color(display-p3 .6 .2 1);
    }
  }
}

@media (--OSdark) {
  :where(html) {
    color-scheme: dark;

    --link: var(--indigo-3);
    --link-visited: var(--grape-3);

    --text-1: var(--gray-1);
    --text-2: var(--gray-4);

    --surface-1: var(--gray-9);
    --surface-2: var(--gray-8);
    --surface-3: var(--gray-7);
    --surface-4: var(--gray-6);
  }
}


[color-scheme="light"] {
  color-scheme: light;
  color: var(--gray-9);
  background: var(--gray-3);
}

[color-scheme="dark"] {
  color-scheme: dark;
  color: var(--gray-3);
  background: var(--gray-9);
}



@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  @media (dynamic-range: high) {
    @supports (color(display-p3 0 0.5 1)) {
      :where(html) {
        --link: color(display-p3 0 0.5 1);
        --link-visited: color(display-p3 0.6 0.2 1);
      }
    }
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}


.checkbox {
  opacity: 0;
  position: absolute;
}

.checkbox-label {
  background: var(--gray-4);
  width: 65px;
  height: 34px;
  border-radius: 50px;
  position: relative;
  padding: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.2s ease-in-out;
}
.checkbox-label .ball {
  background-color: var(--gray-3);
  width: 28px;
  height: 28px;
  position: absolute;
  left: 2px;
  border-radius: 50%;
  transition: transform 0.3s linear;
}

.checkbox:checked + .checkbox-label {
  background: var(--gray-8);
}

.checkbox:checked + .checkbox-label .ball {
  transform: translateX(34px);
}

.fa-moon {
  font-size: 1.5rem;
  color: var(--text1);
  transition: 0.2s ease-in;

}

.fa-sun {
  font-size: 1.3rem;
  color: var(--yellow-8);
  transition: .2s ease-out;

}
/* Whatsapp Button */
a i.fa-whatsapp,
.whatsap-us {
  position: fixed;
  bottom: 3rem;
  right: 2rem;
  z-index: var(--layer-important);
  background-color: var(--green-8);
  padding: 0.5rem;
  width: 3rem;
  height: 3rem;
  border-radius: var(--radius-3);
  display: flex;
  justify-content: center;
  align-items: center;
  /* font-weight: 700; */
  font-size: 1.8rem;
  color: var(--gray-1);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.45);
  cursor: pointer;
  animation: var(--animation-slide-in-left);
}

a i.fa-whatsapp:hover {
  background-color: var(--green-9);
  box-shadow: var(--shadow-2);
}

.whatsap-us {
  color: var(--gray-3);
  font-family: var(--ff-accent);
  background: none;
  box-shadow: none;
  font-size: 0.8rem;
  bottom: -0.2rem;
  font-weight: 600;
  animation: var(--animation-slide-in-left);
}

/* Navigation Menu */

.logo a {
  display: flex;
  /* grid-template-columns: 1fr 1fr; */
  align-items: center;
  justify-content: center;
  /* background-color: var(--grape-9); */
  text-transform: uppercase;
  font-size: var(--size-2);
}

.logo a:hover {
  background: none;
}

.logo img {
  width: var(--size-8);
  height: var(--size-8);
  background: transparent;
  margin-right: 1em;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  width: 100%;
  border-bottom: var(--border-size-2) solid var(--blue-9);
  background-color: var(--gray-3);
  z-index: 999;
  transition: 0.4s;
  overflow: hidden;
}

.navbar a {
  color: var(--blue-9);
  font-weight: var(--font-weight-5);
  font-size: var(--size-fluid-2);
  cursor: pointer;
}

.navbar ul li a:hover {
  background-color: var(--blue-9);
  color: var(--gray-2);
  border-radius: var(--radius-conditional-3);

}

.navbar .logo a:hover {
  background-color: none;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  /* align-items: flex-start; */
  overflow: hidden;
}

.nav-menu .nav-list {
  margin: 0 0.3em;
  padding: 1em 0;
}

.nav-menu .nav-list a.nav-link {
  padding: 0.4em 0.8em;
}

.hamburger {
  display: none;
  cursor: pointer;
  padding: .25em;
  /* color: var(--blue-9);
  font-size: var(--size-fluid-3); */
}

.bars {
  display: block;
  width: 1.4rem;
  height: 0.2em;
  background-color: var(--blue-9);
  margin: 0.3em;
  transition: 0.4s;
  border-radius: var(--radius-3);
}

.small {
  margin-left: .55em;
}

#apply-btn {
  border: var(--border-size-2) solid var(--blue-9);
  border-radius: var(--radius-conditional-3);
}

/* Hero Header */

.hero-title {
  color: var(--gray-2);
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-content: center;
  place-items: center;
  padding: var(--size-5);
  background-image: var(--gradient-1);
  font-family: var(--ff-accent);
  width: 100vw;
}

.hero-title h1 {
  font-family: var(--ff-accent);
  font-size: var(--size-fluid-4);
  font-weight: var(--font-weight-7);
  text-align: center;
  margin: 0 1em;
  animation: var(--animation-slide-in-down);
}

.hero-title h2 {
  font-family: var(--ff-accent);
  font-size: var(--size-fluid-3);
  font-weight: var(--font-weight-6);
  text-align: center;
  margin: 0.5em;
  animation: var(--animation-slide-in-up);
  /* margin-left: 5em; */
}

.hero-title h2::after {
  content: "Strategies";
  margin-left: 1.5rem;
  animation: textReplaceAnime 15s infinite;
}

.hero-title button {
  display: block;
  margin: 0 auto;
  background-color: var(--blue-8);
  font-size: var(--size-fluid-2);
  font-weight: var(--font-weight-5);
  border: none;
  border-radius: var(--radius-conditional-3);
  padding: 0.5em 1em;
  width: var(--size-fluid-9);
  cursor: pointer;
  transition: 0.4s;
  box-shadow: var(--shadow-2);
  animation: var(--animation-slide-in-down);
}

.hero-title button:hover {
  background-color: var(--blue-9);
  box-shadow: var(--shadow-1);
}

.hero-title img {
  width: var(--size-13);
  height: var(--size-13);
  animation: var(--animation-slide-in-left);
}

.hero-title .events-img {
  width: var(--size-fluid-8);
  height: var(--size-fluid-8);
}

main {
  padding-top: 6em;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.contents {
  width: 100%;
  scroll-behavior: smooth;
  max-width: 80rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: var(--shadow-3);
  padding: 1em;
  margin-top: 2em;
  margin-bottom: 2em;
}

.content-header {
  font-size: var(--size-fluid-4);
  font-weight: var(--font-weight-6);
  font-family: var(--ff-accent);
  text-align: center;
  text-transform: uppercase;
  padding: 0 1em;
  margin-bottom: 0.5em;
  /* animation: var(--animation-slide-in-down); */
}

.content-subheader {
  font-size: var(--font-size-5);
  font-weight: var(--font-weight-5);
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.info.form-apply {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content article {
  font-size: var(--size-4);
  font-weight: var(--font-weight-4);
  margin-left: var(--size-3);
  line-height: var(--font-lineheight-4);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* animation: var(--animation-slide-in-left); */
}


.content img {
  max-width: var(--size-14);
  max-height: var(--size-14);
  margin-right: var(--size-4);
  /* animation: var(--animation-slide-in-right); */
}

.contents .gallery-imgs {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-content: center;
  place-items: center;
  padding: 1em;
  margin-bottom: 1em;
  width: 100%;
}

.contents .gallery-imgs img {
  width: var(--size-fluid-9);
  height: var(--size-fluid-9);
  margin: 0.5em;
  border-radius: var(--radius-conditional-3);
  box-shadow: var(--shadow-2);
  animation: var(--animation-slide-in-left);
}

.content .teams-info {
  margin-left: var(--size-fluid-5);
}

.content .info.form-newsletter {
  margin-left: var(--size-fluid-6);
}

.contents .gallery-imgs img:nth-child(2) {
  animation: var(--animation-slide-in-right);
}

.form-content h2 {
  font-size: var(--size-fluid-3);
  font-weight: var(--font-weight-6);
  text-align: center;
}
 

.form-group label {
  display: flex;
  justify-content: flex-start;
  font-size: var(--font-size-3);
  font-weight: var(--font-weight-5);
  margin: 0.5em;
}

.form-group input {
  width: var(--size-fluid-10);
  padding: var(--size-2);
  font-size: var(--size-fluid-2);
  cursor: text;
}
.form-group input:focus {
  outline: 2px solid var(--blue-9);
  border: none;
}

.form-group button {
  font-size: var(--size-4);
  margin-top: var(--size-4);
  padding: var(--size-2);
  border: none;
  border-radius: var(--radius-conditional-3);
  background-color: var(--blue-9);
  color: var(--gray-2);
  font-weight: var(--font-weight-5);
  cursor: pointer;
  transition: 0.4s;
  box-shadow: var(--shadow-2);
  width: var(--size-12);
}

/* ABout Us */
.about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* max-width: 62.5rem; */
  margin: 2em;
  box-shadow: var(--shadow-3);
  padding: 1em 0.5em;
}

.about-container h2,
.our-team h2 {
  font-size: var(--size-fluid-4);
  font-weight: 600;
  text-transform: uppercase;
  /* margin: 1em 0; */
}

.about-image {
  width: var(--size-fluid-6);
  height: var(--size--fluid-6);
}

.about-content article {
  margin: 1em;
  display: block;
}

.about-content article,
.team-container p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: var(--font-lineheight-4);
  font-size: var(--size-5);
  animation: var(--animation-slide-in-left);
}

.about-content article + article {
  margin-top: var(--size-fluid-4);
  animation: var(--animation-slide-in-right);
}

.our-team {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1em 0;
  max-width: 70rem;

}

.team-member {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: var(--shadow-3);
  padding: 1em;
  margin-top: 1em;
}

.team-member .profile h2 {
  font-weight: var(--font-weight-6);
  font-size: var(--size-fluid-2);
  margin-top: 1em;
  text-transform: none;
  font-family: var(--ff-accent);
  animation: var(--animation-slide-in-right);
}

.team-member .profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 1.5em;
}

.team-member img {
  box-shadow: var(--shadow-3);
  border-radius: 50%;
  width: var(--size-14);
  height: var(--size-14);
  animation: var(--animation-slide-in-right);
}

.team-member p {
  margin-left: 2em;
  margin-top: 1em;
}

.mapouter {
  width: 100%;
  height: 100%;
}

.info .address h2 {
  display: block;
  font-size: var(--size-fluid-3);
  margin: .5em auto;
  text-align: center;
}

#gmap_canvas {
  width: 700px;
  height: 600px;
  margin: 0 auto;
}

.info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-content: center;
  place-items: center;
  padding: 1em;
  margin-bottom: 1em;
  width: 100%;
}

.form-message .form-content {
  /* box-shadow: var(--shadow-2); */
  padding: 1em var(--size-fluid-6);
}

textarea {
  width: 100%;
  cursor: text;
}

.form-message button {
  font-size: var(--size-4);
  margin: var(--size-3);
  width: var(--size-fluid-8);
  padding: var(--size-2);
  border: none;
  border-radius: var(--radius-conditional-3);
  background-color: var(--blue-9);
  color: var(--gray-2);
  font-weight: var(--font-weight-5);
  cursor: pointer;
  transition: 0.4s;
  display: block;
  margin: 0 auto;
  margin-top: 1em;
}

.newsletter {
  font-size: var(--size-fluid-3);
  padding: 0 0.5em;
  margin: 0.5em 0;
  font-weight: var(--font-weight-5);
  text-align: center;
  /* background-color: var(--red-7); */
}

.newsletter + .newsletter {
  font-size: var(--size-4);
}

.form-message button:hover {
  background-color: var(--blue-8);
  box-shadow: var(--shadow-1);
}

.form-message h2,
.info .address h2 {
  font-weight: 600;
  text-transform: uppercase;
  margin: 1em 0;
}

.info .form-message lable {
  font-size: var(--size-fluid-2);
  font-weight: var(--font-weight-5);
  margin: var(--size-fluid-2);
  text-align: center;
}

/* Media iPads */

@media only screen and (max-width: 768px) {

  .navbar {
    padding: 1em;
  }
  .navbar a {
    font-size: var(--size-fluid-3);
  }

  .navbar .logo a:hover {
    background-color: none;
  }

  .nav-menu {
    position: fixed;
    top: 5rem;
    left: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: var(--gray-3);
    border-bottom: var(--border-size-2) solid var(--blue-9);
    transition: all 0.4s ease-in;
    z-index: 0;
  }

  .nav-menu.active {
    padding-top: 1em;
    top: 5rem;
    left: 0;
    z-index: 0;
    transform-origin: top;
    transition: 0.4s ease-out;
  }

  .nav-menu .nav-list {
    margin: 0 0.5em;
    padding: 0.1em;
    margin-bottom: 1em;
  }

  .navbar ul li a {
    font-size: var(--size-3);

    width: 100%;
  }

  .navbar ul li a:hover {
    background: var(--gray-5);
    color: var(--blue-8);
  }

  .hamburger {
    display: block;
    --webkit-transform: rotate(0deg);
    transform: rotate(360deg);
    background: var(--gray-4);
  }

  .hamburger.active {
    --webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    background: var(--gray-3);

  }

  .hamburger.active .bars:nth-child(1) {
    --webkit-transform: rotate(45deg) translateY(11.5px);
    transform: rotate(45deg) translateY(11.5px);
  }

  .hamburger.active .bars:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bars:nth-child(3) {
    --webkit-transform: rotate(-45deg) translateY(-11px);
    transform: rotate(-45deg) translateY(-11.5px);
  }

  main {
    padding-top: 4em;
    overflow: hidden;
  }

  .hero-title {
    display: flex;
    flex-direction: column-reverse;
    width: 100vw;
    height: 100%;
    overflow: none;
  }

  .hero-title h1 {
    position: relative;
    font-size: var(--size-fluid-4);
    font-weight: var(--font-weight-7);
    margin: 0;
    margin-top: 1.2em;
    z-index: var(--layer-3);
  }

  .hero-title h2 {
    font-size: var(--size-fluid-3);
    position: relative;
    margin-left: 0;
    text-align: center;
    z-index: var(--layer-3);
  }

  .hero-title button {
    position: relative;
    color: var(--gray-1);
    width: var(--size-header-1);
  }

  .hero-title img {
    position: absolute;
    width: var(--size-fluid-8);
    height: var(--size-fluid-8);
    opacity: 0.5;
    animation: var(--animation-scale-up);
  }

  .hero-title .events-img {
    position: absolute;
    width: var(--size-fluid-7);
    height: var(--size-fluid-7);
    opacity: 0.5;
  }

  .headers.services-header {
    padding-top: 3.5em;
  }

  .content img {
    animation: none;
  }

  /* .content, .content-header {
    animation: var(--animation-slide-in-up);
  } */

  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1em;
    max-width: none;
  }

  .contents h2 {
    font-size: var(--size-fluid-3);
    padding: 0;
    text-align: center;
  }

  .content article {
    margin: 0em;
  }

  .content img {
    width: var(--size-fluid-8);
    height: var(--size-fluid-8);
  }

  .contents .gallery-imgs {
    display: grid;
    place-content: center;
    place-items: center;
    grid-template-columns: 1fr;
    grid-gap: var(--size-fluid-1);
    margin-bottom: var(--size-fluid-1);
    margin-right: none;
    width: 100%;
  }

  .content .teams-info {
    margin-left: 0;
  }
  
  .content .info.form-newsletter {
    margin-left: 0;
  }

  .contents .gallery-imgs img {
    width: var(--size-fluid-9);
    height: var(--size-fluid-9);
    margin: 0.5em;
  }

  /* About Media Query */

  .about-content article {
    margin: 1em;
    font-size: var(--size-fluid-2);
  }

  .team-member {
    display: grid;
    place-content: center;
    place-items: center;
    margin: 1em;
  }

  .team-member h2 {
    /* background-color: var(--blue-8);
    padding: .1em .35em; */
    text-align: center;
    font-size: var(--size-fluid-3);
    margin-top: 0.5em;
    margin-left: 1em;
  }

  .team-member p {
    margin-top: 1em;
    font-size: var(--size-fluid-2);
  }

  .team-member img {
    /* margin-top: 1em; */
    margin-left: 1em;
    width: var(--size-13);
    height: var(--size-13);
    box-shadow: var(--shadow-3);
    border-radius: 50%;
  }

  .info {
    display: block;
    width: var(--size-fluid-12);
    width: 100%;
    /* overflow: hidden; */
  }

  .info.form-apply .form-group {
    width: 20rem;
  }

  .form-content h2 {
    font-size: var(--size-fluid-3);
    margin: 0 auto;
    margin-bottom: 0.5em;
    text-align: center;
    display: block;
  }


  .form-group textarea,
  .form-group input {
    cursor: text;
    width: 100%;
  }

  .form-group button {
    width: 100%;
    margin: 1.5em auto;
  }


 
  .info .address h2 {
    margin: 1em auto;
    margin-left: 3em;
    margin-bottom: 0.5em;
    text-align: center;
    display: block;
  }

  .info .address {
    margin-bottom: var(--size-5);
    box-shadow: none;
  }

  .info .address h2 {
    display: block;
    font-size: var(--size-fluid-3);
    margin: 1em auto;
  }

  #gmap_canvas {
    width: 50rem;
    height: 20rem;
    margin: 0 auto;
  }

  footer h4 {
    font-weight: var(--font-weight-6);
    font-size: var(--size-4);
  }

  footer .footer-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
  }

  footer .call-us {
    margin-top: 1em;
      padding-bottom: 4em;
  }
}

@media screen and (width <= 480px) {
  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin: 0 auto; */
  }

  .contents .gallery-imgs {
    display: grid;
    grid-template-columns: 1fr;
    place-content: center;
    place-items: center;
    margin-bottom: 1em;
    width: 100%;
  }

  .contents .gallery-imgs img {
    width: var(--size-fluid-1);
    height: var(--size-fluid-9);
    margin: 0.5em;
  }

  .content article {
    margin: 0 auto;
    padding: 0;
    font-size: var(--size-fluid-2);
  }

  .info.form-apply .form-group {
    width: 15rem;
    margin: 0 .5em;
  }

  .contents .gallery-imgs {
    display: grid;
    place-content: center;
    place-items: center;
    grid-template-columns: 1fr;
    grid-gap: var(--size-fluid-1);
    margin-bottom: var(--size-fluid-1);
    margin-right: none;
    width: 100%;
  }

  .contents .gallery-imgs img {
    width: var(--size-fluid-9);
    height: var(--size-fluid-9);
    margin: 0.5em;
    background-color: var(--grape-7);
  }
  /* About Media Query */

  .about-container h1,
  .our-team h1 {
    font-size: var(--size-fluid-3);
  }

  .team-member p {
    margin-top: 1em;
    margin-right: 1.2em;
    font-size: var(--size-fluid-2);
  }

  .info {
    display: block;
    margin: 0 auto;
    overflow: hidden;
  }

  .content .form-group {
    display: block;
    width: 100%;
  }

  .form-group input,
  .form-group textarea {
    width: 100%;
  }

  .form-group button {
    font-size: var(--size-3);
    width: 100%;
  }

  .info .address h2 {
    margin: 1em auto;
    margin-left: 3em;
    margin-bottom: 0.5em;
    text-align: center;
    display: block;
  }

  .info .address {
    margin-bottom: var(--size-5);
    box-shadow: none;
  }

  .footer h4 {
    font-weight: var(--font-weight-6);
    font-size: var(--size-3);
  }

  .footer a {
    color: var(--blue-9);
    font-size: var(--size-3);
    padding: 0.5em 0;
  }

  .call-us {
    margin-top: 1em;
    margin-bottom: 4em;
  }
}

@media screen and (width > 768px) and (width <= 1024px) {
  main {
    padding-top: 4em;
  }

  .hero-title {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100%;
    overflow: none;
    pointer-events: none;
  }

  .hero-title h1 {
    position: relative;
    font-size: var(--size-fluid-5);
    font-weight: var(--font-weight-7);
    margin: 0;
    margin-top: 1em;
    z-index: var(--layer-3);
  }

  .hero-title h2 {
    font-size: var(--size-fluid-4);
    position: relative;
    margin-left: 3em;
    text-align: center;
    z-index: var(--layer-3);
  }

  .hero-title button {
    position: relative;
    font-size: var(--size-4);
    color: var(--gray-1);
    width: var(--size-fluid-10);
    cursor: pointer;
    pointer-events: all;
    animation: var(--animation-slide-in-down);
  }

  .hero-title img {
    position: absolute;
    width: var(--size-fluid-8);
    height: var(--size-fluid-8);
    opacity: 0.5;
    animation: var(--animation-slide-in-up);
  }
  .headers.services-header {
    padding-top: 3.5em;
  }

  .headers.header-events {
    padding-top: 0.5em;
  }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .content article {
    margin: 0.5em;
    font-size: var(--size-6);
  }

  .content img {
    width: var(--size-fluid-9);
    height: var(--size-fluid-9);
  }

  .contents .gallery-imgs {
    display: grid;
    place-content: center;
    place-items: center;
    grid-template-columns: 1fr 1fr;
    grid-gap: var(--size-fluid-1);
    margin-bottom: var(--size-fluid-1);
    width: 100%;
  }

  .contents .gallery-imgs img {
    width: var(--size-fluid-10);
    height: var(--size-fluid-9);
    margin: 0.5em;
  }

  /* About Media Query */

  .about-container {
    max-width: 70em;
  }

  .about-container h1,
  .our-team h1 {
    font-size: var(--size-fluid-5);
  }

  .about-content article {
    margin: 1em;
    font-size: var(--size-fluid-2);
  }

  .team-member {
    display: grid;
    place-content: center;
    place-items: center;
  }

  .team-container h2 {
    text-align: center;
    font-size: var(--size-7);
    margin-top: 0.5em;
    margin-left: 1em;
  }

  .team-member p {
    margin-top: 1em;
    font-size: var(--size-fluid-2);
    padding: 1em 1em 1em 0;
  }

  .team-member img {
    /* margin-top: 1em; */
    margin-left: 1em;
    width: var(--size-14);
    height: var(--size-14);
    box-shadow: var(--shadow-3);
    border-radius: 50%;
  }

  .info {
    display: block;
    /* width: var(--size-fluid-12); */
    overflow: hidden;
    width: 100%;
  }

  .form-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .form-content h2 {
    font-size: var(--size-fluid-4);
    margin: 0 auto;
    margin-bottom: 0.5em;
    text-align: center;
    display: block;
  }

  .form-content button {
    width: var(--size-15);
    /* margin: 1em auto; */
  }

  .form-group {
    padding: 0 1em;
  }

  .form .form-group label {
    font-size: var(--size-fluid-3);
    font-weight: var(--font-weight-6);
  }

  .form-group button {
    margin-top: 1.5em;
    width: 100%;
    font-size: var(--size-fluid-3);
  }

  .form-group input {
    padding: var(--size-2);
    width: 30rem;
    cursor: text;
    font-size: var(--size-fluid-2);
  }

  .form-content label .form-content button {
    font-size: var(--size-fluid-4);
  }

  .form-content label {
    margin-top: 1em;
    font-weight: var(--font-weight-6);
  }

  .form-content button {
    margin-top: 1em;
    width: 20rem;
  }

  .form-content textarea {
    height: 7em;
    width: 30rem;
  }

  .form-message {
    box-shadow: none;
  }

  .info .address h2 {
    display: block;
    font-size: var(--size-fluid-4);
    margin: 1em auto;
  }

  .info .address {
    margin-bottom: var(--size-5);
    /* margin-left: -10em; */
    box-shadow: none;
  }

  #gmap_canvas {
    width: 60rem;
    height: 40rem;
    margin: 0 auto;
  }

  footer h4 {
    font-weight: var(--font-weight-6);
    font-size: var(--size-7);
  }

  footer a {
    font-size: var(--size-fluid-3);
    color: var(--blue-9);
  }

  footer .about-us {
    margin-top: 1.5em;
    margin-bottom: 1em;
  }

  footer .call-us {
    margin-bottom: 0em;
    margin-top: 1em;
  }
}

.footer {
  background-color: var(--gray-9);
  color: var(--gray-3);
  border-top: var(--border-size-2) solid var(--blue-9);
  display: block;
  width: 100%;
}


footer h4 {
  font-weight: var(--font-weight-7);
  font-size: var(--size-fluid-2);
}

footer a {
  font-size: var(--size-fluid-2);
  font-family: var(--ff-accent);
  color: var(--blue-5);
}

footer a:active, footer a:focus, footer a:hover {
  color: var(--blue-7);
}

footer a:visited {
  color: var(--grape-5);
}

footer p {
  /* margin: var(--size-2); */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 1em;
}

footer .call-us {
  margin-bottom: -4em;
  margin-top: 1em;
}

footer .call-us a {
  color: var(--gray-3);
  font-weight: 500;
}

.footer-content {
  display: grid;
  place-items: center;
  place-content: center;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1em;
  padding: 1em;
}

.footer-content img {
  width: var(--size-fluid-6);
  height: var(--size-fluid-6);
}

.socials {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.social-links a {
  display: grid;
  place-items: center;
  place-content: center;
}

.social-links {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-links a i {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--font-size-fluid-1);
  width: var(--size-fluid-4);
  height: var(--size-fluid-4);
  padding: var(--size-5);
  margin: var(--size-2);
  border-radius: 50%;
  background-color: var(--blue-7);
  color: var(--gray-2);
}

.social-links a i:hover {
  background-color: var(--blue-9);
  color: var(--gray-2);
}

/* Animations */
@keyframes textReplaceAnime {
  25% {
    opacity: 1;
  }
  50% {
    opacity: 1;
    content: "Confidence";
  }
  75% {
    opacity: 1;
    content: "Businesses";
  }
}
